on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: false
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - name: Install package
        run: pnpm install --frozen-lockfile
      - name: Format
        run: pnpm fmt
      - name: Build
        run: pnpm build
      - name: Test
        run: pnpm test
